body{
	font-size:20px;
	background:black;
	color:pink;
}
#calculator{
	width:250px;
	height:300px;
	border:1px solid cyan;
	background:black;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	margin-top:50px;
	padding:20px;
}
#display{
	width:228px;
	height:30px;
	background:black;
	border:1px solid cyan;
	font-size:25px;
	text-align:right;
	padding:10px;
	letter-spacing:1px;
}
td{
	border:1px solid cyan;
	background:black;
	padding:10px;
	width:25%;
	box-shadow:0 5px #00b1b1;
	cursor:default;
}
td:active{
	box-shadow:0 3px #008989;
	transform:translateY(3px);
}
table{
	width:269px;
	margin-left:-9px;
	margin-top:5px;
	border-spacing:10px 15px;
	text-align:center;
}
@media screen and (max-width:600px){
	body{
		font-size:30px;
	}
	td{
		padding-top:20px;
		padding-bottom:20px;
	}
	#calculator{
		width:80%;
		height:80%;
	}
	table{
		width:104%;
	}
	#display{
		width:94%;
		margin-top:1%;
		font-size:200%;
		height:15%;
	}
}