*{
	transition:0.2s linear;
}
body{
	background:black;
	font-family:verdana;
	color:pink;
	font-size:20px;
}
a{
	border-bottom:1px solid;
	text-decoration:none;
	color:magenta;
}
.holder{
	width:100%;
	margin-top:20px;
}
.holder:nth-of-type(1){
	padding-bottom:0px;
}
.holder:nth-of-type(2){
	margin-top:20px;
}
.holder:nth-of-type(3){
	margin-top:0px;
}
#desc{
	width:500px;
	text-align:center;
	border:1px solid cyan;
	background:black;
	padding-top:20px;
	padding-bottom:20px;
}
table, th, td{
	border:1px solid cyan;
	border-collapse:collapse;
	padding:10px;
	text-align:center;
	font-size:20px;
	background:black;
}
table{
	width:500px;
}
@media screen and (max-width:800px){
table{
	width:95%;
}
table, th, td{
	font-size:28px;
}
#desc{
	width:95%;
	font-size:28px;
}
}
#table{
	display:table;
	margin-top:0px;
}