body{
	background:url('https://78.media.tumblr.com/276cc2ecee48cb1a149cf94640066906/tumblr_movdbcThVO1ru3nbdo3_250.png');
	font-family:helvetica;
}
canvas{
	border:3px solid black;
	background:rgb(250,230,210);
	left:50%;
	transform:translateX(-50%);
	margin-top:110px;
	position:absolute;
}
#directions{
	border:3px solid black;
	background:lightblue;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	width:580px;
	height:auto;
	margin-top:53px;
	padding:11px 10px 10px 10px;
	text-align:center;
	z-index:99;
	font-weight:bold;
}
.key{
	border:2px solid black;
	padding:5px;
	width:20px;
	height:20px;
	display:inline-block;
	text-align:center;
	background:whitesmoke;
}
#scoreboard{
	background:lightblue;
	border:3px solid black;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	width:120px;
	padding:10px;
	margin-left:-230px;
	margin-top:110px;
	z-index:0;
	opacity:0;
	font-size:20px;
	font-weight:bold;
}
#screen{
	border:3px solid black;
	background:rgb(250,230,210,0.9);
	left:50%;
	transform:translateX(-50%);
	margin-top:110px;
	position:absolute;
	width:600px;
	height:300px;
	font-size:15px;
}
.enterkey{
	border:2px solid black;
	display:inline-block;
	padding:5px;
	background:whitesmoke;
}